.topRated {
    .topRatedHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        .topRatedTitle {
            font-size: 24px;
            color: white;
        }
    }
}
